#base {
    display: flex;
    flex-direction: column;
}

#home-name {
    margin-left: 40px;
}

section#home-section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}