#functions-main {
    color: white;
}

#functions-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

#functions-content {
    margin-left: 40px;
    padding-block: 5px;
}

#functions-description {
    display: flex;
    position: relative;
    flex-direction: column;
    
    width: 300px;
    padding: 20px;
    background-color: #161616;
    border-radius: 20px;
    margin: 20px 40px 0 40px;
}

@media (min-width: 689px) {
    #functions-description {
        position: absolute;
        top: 40px;
        right: 0px;
    }
}