#functions-main {
    color: white;
}

#functions-header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

#functions-content {
    margin-left: 40px;
    padding-block: 5px;
}

#functions-description {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 10;
    width: 300px;
    padding: 20px;
    background-color: var(--accent-gray);
    border-radius: 20px;
    margin: 20px 40px 0 40px;
    box-shadow: 0px 4px 4px 4px #00000040;

}

#function-items-container {
    display: flex;
    width: calc(100% - 40px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.function-item {
    padding: 20px;
    background-color: var(--accent-gray);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 80px);
    max-width: 1000px;
    max-height: 146px;
    overflow: hidden;
}

.function-item-execute-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-inline: 20px;
}

.function-item-execute-button-image {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.function-item-execute-button.has-input {
    top: 10px;
}


.function-item-input {
    display: block;
    /* position: absolute; */
    border-radius: 10px;
    min-height: 24px;
    width: calc(100% - 20px);
    padding-inline: 8px;
    border: none;
    background-color: white;
    transition: background-color 200ms;
}


.function-item-details {
    display: flex;
    flex-direction: column;
}

.function-item-title {
    font-weight: 700;
    font-size: 24px;
    color: var(--secondary);
    transition: color var(--transition);
    margin-bottom: 5px;
}

.function-item-description {
    width: 200px;
    max-height: 120px;
    overflow-y: scroll;
}






















.function-cloud-result-image {
    width: 100%;
    object-fit: contain;
}

@media (min-width: 689px) {
    #functions-description {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    #functions-header {
        margin-bottom: 80px;
    }
}

@media (max-width: 720px) {
    .function-item {
        flex-direction: column;
        max-height: none;
        max-width: 200px;
    }

    .function-item-execute-button {
        margin: 20px 0 10px 0;

        & svg {
            rotate: 90deg;
        }
    }

    .function-item-execute-button.has-input {
        margin: 20px 0 50px 0;
    }



    #function-items-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width: 600px) {
    #function-items-container {
        flex-direction: column;
        align-items: center;
    }
}