:root {
    scrollbar-width: none;
    --accent-gray: #161616;
    --primary: 'white';
    --secondary: 'grey';

}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
    font-family: BlinkMacSystemFont, 'SF Pro Display', sans-serif;

}

body {
    font-family: BlinkMacSystemFont, 'SF Pro Display', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--accent-gray);
    overflow-y: hidden;
}

a,
a:visited,
a:hover,
a:active {
    color: white;
}

.display-none {
    display: none !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

#home-container>.cutout {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    justify-content: space-between;
}

.cutout {
    background-color: black;
    color: white;
    mix-blend-mode: multiply;
}

.header-size-big {
    & *:is(#functions-header-item, #minigames-header-item) {
        display: flex;
    }

    & *:is(#more-header-item, #header-menu-container-more-header-item) {
        display: none;
    }
}

.header-size-small {
    & *:is(#functions-header-item, #minigames-header-item) {
        display: none;
    }

    & *:is(#more-header-item, #header-menu-container-more-header-item) {
        display: flex;
    }
}

.reject-shake {
    background-color: #ff6161ce !important;
    color: white;
    animation: reject-shake 200ms ease-in-out infinite;
}


@keyframes reject-shake {
    0% {
        translate: -10px;
    }

    100% {
        translate: 10px;
    }
}