#header > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-link {
    color: transparent;
    transition: color 0.5s ease-out;
    text-decoration: none;
    text-align: center;
}

.header-link:hover {
    color: white;
}

.header-link.active {
    color: white;
}


#header {
    background-color: black;
    padding-block: 10px;

    position: sticky;
    top: 0;
    z-index: 10;

    box-shadow: 0px 0px 100px 10px #ffffff10;
}

#header-line {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 10px;
    height: 2px;
    background-color: white;
    transition: left 0.5s ease-out, width 0.5s ease-out;
}