:root {
    --transition: 0.5s ease-out;
}

.header-link {
    transition: color var(--transition);
    text-decoration: none;
    text-align: center;
}

.header-link:hover {
    color: white;
    mix-blend-mode: normal;

}


.header-link.active {
    color: white;
}


#header {
    padding-block: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: relative;
    top: 0;
    height: 20px;

    box-shadow: 0px 0px 100px 10px #ffffff10;
}

#header-container {
    position: sticky;
    top: 0;
    overflow: hidden;
}



#header-line-back {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left var(--transition), width var(--transition);
    background-color: white;
    z-index: 3;
}

#header-line {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 10px;
    height: 2px;
    background-color: white;
    transition: left var(--transition), width var(--transition);
}