:root {
    --transition: 0.5s ease-out;
}

.header-link {
    transition: color var(--transition);
    text-decoration: none;
    text-align: center;
}

.header-menu {
    transition: color var(--transition);
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.header-menu-container {
    position: relative;
}

.header-menu-dropdown {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: red;
}

.header-menu-container:hover .header-menu-dropdown {
    pointer-events: all;
    opacity: 1;
}

.header-menu-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#header {
    padding-block: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    position: relative;
    top: 0;
    height: 20px;

    box-shadow: 0px 0px 100px 10px #ffffff10;
}

#header-container {
    position: fixed !important;
    width: 100%;
    top: 0;
    /* overflow: hidden; */
    z-index: 12 !important;
}

#header-line-back {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left var(--transition), width var(--transition);
    background-color: white;
    z-index: 3;
}

#header-line {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 10px;
    height: 2px;
    background-color: white;
    transition: left var(--transition), width var(--transition);
}