#home-name > * {
    width: fit-content;
    /* height: max-content; */
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

#home {
    height: calc(100vh - 40px);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#home section {
    scroll-snap-align: start;
}

#home-section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    justify-content: space-between;
}

#home-name-title {
    margin-left: 17px;
    margin-top: 15px;
    font-size: 24px;
}

#home-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 80px;

}

#scroll-button {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

#scroll-button>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#home-name h1 {
    font-size: 80px;
}

@media (width < 520px) {
    #home-name h1 {
        font-size: 60px;
    }

    #home-name-title {
        margin-left: 12px;
    }
    
}

#home-contanier {
}

#home-container>.color-accent {
    top: calc(var(--accent-scroll-y) - 40px);

}

#projects-section {
    height: 120vh;
    mix-blend-mode: normal;
    isolation: isolate;
}

.project {
    width: 200px;
    height: 200px;
    background-color: white;
}