#home-name > * {
    width: fit-content;
    /* height: max-content; */
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

#home-name-title {
    margin-left: 17px;
    margin-top: 15px;
    font-size: 24px;
}

#home-name h1 {
    font-size: 80px;
}

#home-name {
}

#home {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#home>section {
    scroll-snap-align: center;
    padding-top: 40px;
}

#home-container {
}


#home-section {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    justify-content: space-between;
}


#home-bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;

}

#scroll-button {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

#scroll-button>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


@media (max-width: 520px) {
    #home-name h1 {
        font-size: 60px;
    }

    #home-name-title {
        margin-left: 12px;
    }
    
}


