
* {
  margin: 0;
  padding: 0;
}


body {
  font-family: BlinkMacSystemFont, 'SF Pro Display';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161616;
}