#projects-section {
    height: calc(100vh - 40px);
    isolation: isolate;
    position: relative;
}


#projects-title {
    font-size: 50px;
    margin-left: 40px;
    padding-block: 5px;
    height: 60px;
}

#projects-back {
    width: 100vw;
    height: calc(100vh - 110px);
    background-color: white;
    position: absolute;
    z-index: 9;
    top: calc(100vh + 110px - var(--scroll-y));
    left: 0px;
}

#projects-content {
    height: calc(100vh - 165px);
    padding-bottom: 55px;
}

#projects-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-container {
    width: 240px;
    height: 440px;
}

.project {
    --rotate-x: 0deg;
    --rotate-y: 0deg;

    width: 200px;
    height: 400px;
    color: white;
    background-color: var(--primary);
    transition: background-color var(--color-transition-time) ease;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px -1px 8px 0px #ffffff80;

    transform: perspective(500px)
        rotateX(var(--rotate-x))
        rotateY(var(--rotate-y));
}