:root {
    /* --project-height: 440px; */
    --project-width: 240px;
    --project-gap: 100px;
}

#projects-section {
    height: calc(100vh - 40px);
    isolation: isolate;
    position: relative;
    z-index: 10;
    overflow-y: hidden;
}



#projects-title {
    font-size: 50px;
    height: 60px;
    margin-left: 40px;
    padding-block: 5px;
}

#projects-back {
    width: 100vw;
    height: calc(100vh - 110px);
    background-color: white;
    position: absolute;
    z-index: 9;
    top: calc(100vh + 110px - var(--scroll-y));
    right: 0px;
    clip-path: polygon(100% 0%, 100% 100% , 0% 100%, 0% 130px, 50% 130px, 50% 0%);
}


#projects-content {
    height: calc(100vh - 165px);
    padding-bottom: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#projects-container {

    display: flex;
    flex-direction: row;
    gap: var(--project-gap);
    flex-wrap: nowrap;
    width: 50vw;
    overflow-x: scroll;
    padding: 70px 0 40px 0;
    scroll-snap-type: x mandatory;
}

.project-container:first-of-type {
    margin-left: 50%;
}

.project-container:last-of-type {
    margin-right: 50%;
}

.project-container {
    position: relative;
    scroll-snap-align: center;
    translate: -50% 0%;
    min-width: var(--project-width);
    /* height: var(--project-height); */
    aspect-ratio: 240 / 440;
}

.project {
    --rotate-x: 0deg;
    --rotate-y: 0deg;

    width: var(--project-width);
    /* height: var(--project-height); */
    aspect-ratio: 240 / 440;
    color: white;
    background-color: var(--primary);
    border-radius: 20px;
    transform: perspective(500px)
        rotateX(var(--rotate-x))
        rotateY(var(--rotate-y));
    opacity: 1;
    transition: background-color var(--color-transition-time) ease,
    transform 300ms ease-out, scale 600ms ease, opacity 300ms ease;

    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.project-icon-container {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translate(-50%, 0%) scale(1);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: top 300ms ease, transform 300ms ease,
    width 300ms ease, height 300ms ease;
}

.project-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.project-container:not(.current-project-container)>.project {
    scale: 0.3;
    opacity: 0;
}

.project-container:not(.current-project-container)>.project-icon-container {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}


#project-info {
    width: calc(50vw - 40px);
    min-width: 290px;
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    padding: 50px 0 0 40px;
}

#project-title {
    font-size: 30px;
}

#project-description {
    font-weight: 400;
    height: calc(var(--project-width) * 440 / 240 - 70px);
    overflow-y: scroll;
}




@media (max-width: 655px) {
    #projects-content {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }

    #projects-back {
        clip-path: polygon(100% 0%, 100% 100% , 0% 100%, 0% 0%);
    }

    :root {
        --project-height: 200px;
        --project-width: 120px;
    }

    #projects-container {
        height: 50%;
    }

    #project-info {
        height: 50%;
        padding-top: 0;
        padding-inline: 0;
    }

    #project-title {
        font-size: 28px;
        text-align: center;
    }
}