:root {
    --shiny-primary: white;
    --shiny-secondary: grey;
}

.shiny-text {

    background-image: linear-gradient(-80deg, var(--shiny-primary) 45%, var(--shiny-secondary) 50%, var(--shiny-primary) 55%);
    background-size: 250vw 100%;

    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-slide 10s linear infinite;
}

#home-name h1 {
    font-size: 80px;
}





@keyframes gradient-slide {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
    
}