#function_items_container {
    display: flex;
    width: calc(100% - 40px);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

#description {
    display: flex;
    position: relative;
    flex-direction: column;
    z-index: 10;
    width: 300px;
    padding: 20px;
    background-color: var(--accent-gray);
    border-radius: 20px;
    margin: 20px 40px 0 40px;
    box-shadow: 0px 4px 4px 4px #00000040;

}

#header {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

#functions-content {
    margin-left: 40px;
    padding-block: 5px;
}

@media (min-width: 689px) {
    #description {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

@media (max-width: 720px) {
    #function_items_container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
}

@media (max-width: 600px) {
    #function_items_container {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 689px) {
    #header {
        margin-bottom: 80px;
    }
}